### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Java / Maven ###
target/
*.class
*.jar
*.war
*.ear
*.log
.idea/
*.iml
data/

### Build output ###
src/main/resources/static/
web/dist/
web/node_modules/

### 部署和运维脚本 ###
deploy/
*.sh
*.py
logs/
examples/